.container {
    .table-container {
        width: 100%;
        border: 1px solid #ddd;
    }
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.table-container {
    display: flex;

    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    width: 100%;
    border: 1px solid #ddd;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd; /* Bordes de las celdas */
}

.styled-table thead th {
    position: sticky;
    top: 0;
    background-color: #93a52b;
    color: white;
    padding: 12px 15px;
    border: 1px solid #ddd;
    z-index: 1; /* Asegura que el thead esté encima del contenido del tbody */
}

.styled-table tr:nth-child(even) {
    background-color: #cdcf45; /* Color de filas pares */
}

.styled-table tr:hover {
    background-color: #c52929; /* Color de fondo al pasar el ratón */
}






