.container {
    .table-container {
        width: 100%;
        border: 1px solid #ddd;
    }
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.table-container {
    display: flex;

    max-height: 500px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    width: 150%;
    border: 2px solid #ddd;
}



.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd; /* Bordes de las celdas */
}

.styled-table thead th {
    position: sticky;
    top: 0;
    background-color: #93a52b;
    color: white;
    padding: 12px 15px;
    border: 1px solid #ddd;
    z-index: 1; /* Asegura que el thead esté encima del contenido del tbody */
}







